/* -------------
Navigation Menu
---------------- */

.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 100px;
	width: 100%;
	z-index: 1;
	padding: 20px 0 0;
}

.header .nav-toggler {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 15px;
	z-index: 1;
}

.header .nav-toggler span {
	height: 2px;
	width: 24px;
	background-color: var(--primaryColor);
	position: relative;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--primaryColor);
	transition: all 0.3s ease;
}
.header .nav-toggler span::before {
	left: 0;
	transform: translateY(-8px);
}

.header .nav-toggler span::after {
	right: 0;
	transform: translateY(8px);
}

.header .nav-toggler:hover span::before,
.header .nav-toggler:hover span::after {
	width: 50%;
}

.header .nav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 35px 15px;
	overflow-y: auto;
	visibility: hidden;
}

.header.active .nav {
	visibility: visible;
}
.header .nav-inner {
	min-height: calc(100vh - 70px);
	background-color: var(--white-alpha-50);
	max-width: 1200px;
	margin: auto;
	border: 1px solid var(--white-alpha-65);
	backdrop-filter: var(--backdrop-filter-blur);
	padding: 50px 0;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.5s ease;
}

.header.active .nav-inner {
	opacity: 1;
}

.header .nav-inner ul li {
	text-align: center;
}
.header .nav-inner ul li a {
	font-size: 40px;
	text-transform: capitalize;
	color: var(--dark-blue);
	display: block;
	font-weight: 500;
	padding: 8px 15px;
	transition: color 0.3s ease;
	position: relative;
}
.header .nav-inner ul li a::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	height: 50%;
	width: 0%;
	background-color: var(--white-alpha-25);
	z-index: -1;
	transition: all 0.5s ease;
}
.header .nav-inner ul li a:hover::before {
	width: 100%;
}

.header .nav-inner ul li a:hover {
	color: var(--primaryColor);
}
