/* -------------
Google Fonts - Poppins
---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Other Style Files

@import 'navMenu.scss';
@import 'loader.scss';
@import 'home.scss';
@import 'about.scss';
@import 'portfolio.scss';
@import 'contact.scss';

/* -------------
Global Colors
---------------- */
:root {
	--primaryColor: #e02f6b;
	--dark-blue: #18293c;
	--orange: #ffa500;
	--green-yellow: #cddc39;
	--pink-light: #efa2b4;
	--cyan-light: #aef1ee;
	--white: #ffffff;
	--white-alpha-40: rgba(255, 255, 255, 0.4);
	--white-alpha-25: rgba(255, 255, 255, 0.25);
	--white-alpha-50: rgba(255, 255, 255, 0.5);
	--white-alpha-65: rgba(255, 255, 255, 0.65);
	--backdrop-filter-blur: blur(5px);
}

/* -------------
Global Setting
---------------- */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

/* -------------
Main CSS
---------------- */

@keyframes spin {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}

body {
	min-height: 100vh;
	background-image: linear-gradient(to bottom right, #efa2b4, #aef1ee);
	background-attachment: fixed;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300px;
	line-height: 1.5;
	overflow-x: hidden;
	-webkit-top-highlight-color: tranparent;
	padding: 35px 15px;
	user-select: none;
	&::before {
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		opacity: 0.12;
	}
}
.main {
	max-width: 1200px;
	margin: auto;
	transition: all 0.5s ease-in-out;
	position: relative;
}
.main.fade-out {
	opacity: 0.09;
}
.container {
	padding: 0px 40px;
	width: 100%;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.align-item-center {
	align-items: center;
}
h1 {
	font-weight: 600;
}
h2 {
	font-weight: 600;
}
h3 {
	font-weight: 500;
}
h4 {
	font-weight: 500;
}
h5 {
	font-weight: 500;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
section {
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}
.section-title {
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	h2 {
		font-size: 40px;
		text-transform: capitalize;
	}
}
.sec-padding {
	padding: 80px 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.hidden {
	display: none !important;
}
.hide-scrolling {
	overflow: none;
}
.flex-end {
	justify-content: flex-end;
}

/* -------------
Custom Scrollbar
---------------- */

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-image: linear-gradient(
		to bottom right,
		var(--pink-light),
		var(--cyan-light)
	);
}
::-webkit-scrollbar-thumb {
	background-color: var(--white);
}

/* -------------
Buttons
---------------- */

button {
	font-family: inherit;
	border: none;
}
.btn {
	line-height: 1.5;
	background-color: var(--white-alpha-25);
	padding: 10px 28px;
	display: inline-block;
	border-radius: 20px;
	color: var(--primaryColor);
	font-weight: 500;
	font-family: inherit;
	text-transform: capitalize;
	cursor: pointer;
	user-select: none;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 0%;
		background-color: var(--primaryColor);
		z-index: -1;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
	&:hover {
		&::before {
			width: 100%;
		}
		color: var(--white);
	}
}

/* -------------
Mobile Friendly Design
---------------- */
@media (max-width: 991px) {
	.container {
		padding: 0;
	}
	.home-text {
		width: 100%;
		text-align: center;
		.btn {
			margin: 0 7px 15px;
		}
	}
	.home-image {
		width: 100%;
		order: -1;
		.image-box {
			max-width: 300px;
		}
	}
	.portfolio-item {
		width: calc(50% - 30px);
	}
}
@media (max-width: 767px) {
	.contact-form {
		width: 100%;
	}
	.contact-info {
		width: 100%;
		order: -1;
		margin-bottom: 15px;
	}
	.about-image {
		width: 100%;
	}
	.about-text {
		width: 100%;
		margin-top: 30px;
	}
	.portfolio-item {
		width: calc(100% - 30px);
	}
	.pp-inner {
		padding: 30px 15px;
	}
	.contact-info-item {
		padding: 0;
	}
}
@media (max-width: 575px) {
	.section-title {
		h2 {
			font-size: 35px;
		}
	}
	.header {
		.nav-inner {
			ul {
				li {
					a {
						font-size: 35px;
					}
				}
			}
		}
	}
	.home-text {
		h1 {
			font-size: 30px;
		}
		h2 {
			font-size: 18px;
		}
	}
	.pp-header {
		h3 {
			font-size: 20px;
		}
	}
}
